<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhp.lcmp.dao.ServerInfoDao">
    <!-- 返回值映射map -->
    <resultMap id="BaseResultMap" type="com.zhp.lcmp.entity.ServerInfoEntity">
        <result property="id" column="id"/>
        <result property="ipAddress" column="ip_address"/>
        <result property="loginName" column="login_name"/>
        <result property="loginPwd" column="login_pwd"/>
        <result property="info" column="info"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="userId" column="user_id"/>
        <result property="ramNum" column="ram_num"/>
        <result property="cpuNum" column="cpu_num"/>
    </resultMap>

    <select id="getServerInfoList" resultType="com.zhp.lcmp.entity.ServerInfoEntity">
		SELECT
			*
		FROM
			server_info
		WHERE
			user_id = #{userId, jdbcType=INTEGER}
		<if test="ipAddress != null and ipAddress != ''">
            AND ip_address LIKE CONCAT('%', #{ipAddress, jdbcType=VARCHAR},'%')
        </if>
        <if test="info != null">
            AND info LIKE CONCAT('%', #{info, jdbcType=VARCHAR},'%')
        </if>
		ORDER BY
			id DESC
	</select>

</mapper>
